[package]
name = "easy-install"
version = "1.3.3"
edition = "2021"
license = "MIT"
description = "easy-install"
repository = "https://github.com/easy-install/easy-install"
homepage = "https://github.com/easy-install/easy-install"
authors = ["ahaoboy"]
include = ["/src", "/Cargo.toml", "/README.md"]

[dependencies]
clap = { version = "4.5", features = ["derive"] }
is-musl = { git = "https://github.com/ahaoboy/is-musl", version = "0.1" }
is-admin = { git = " https://github.com/ahaoboy/is-admin.git", version = "0.1" }
crud-path = { git = "https://github.com/ahaoboy/crud-path.git", version = "0.1" }
which-shell = { git = " https://github.com/ahaoboy/which-shell.git", version = "0.1" }
easy-archive = { git = " https://github.com/ahaoboy/easy-archive.git", version = "0.1" }
guess-target = { git = " https://github.com/ahaoboy/guess-target.git", version = "0.1" }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
tokio = { version = "1", features = ["full"], default-features = false }
tracing = "0.1"
dirs = "6.0"
reqwest = { version = "0.12", features = ["json"] }
regex = "1.11"
tracing-subscriber = "0.3"
cargo-dist-schema = "0.28"
path-clean = "1.0"


[target.'cfg(not(target_os = "windows"))'.dependencies]
openssl = { version = "0.10", features = ["vendored"] }

[profile.release]
debug = false
lto = true
strip = true
opt-level = 3
codegen-units = 1
